<link rel="stylesheet" href="/css/addedIRS.css"/>
<div class="addedCont">
    <h1>企业纳税证明</h1>

    <div class="addedWrap">
        <div class="addedTop">
            <p>全国国税局网站</p>
            <ul style="margin:20px auto 0">
                <li><a target="_blank" href="http://www.bjsat.gov.cn/bjsat/">北京国税</a></li>
                <li><a target="_blank" href="http://www.tjsat.gov.cn/">天津国税</a></li>
                <li><a target="_blank" href="http://www.he-n-tax.gov.cn/hbgsww_new/index.html">河北国税</a></li>
                <li><a target="_blank" href="http://www.sx-n-tax.gov.cn/">山西国税</a></li>
                <li><a target="_blank" href="http://www.nm-n-tax.gov.cn/nmgsj/index.shtml">内蒙古国税</a></li>
                <li><a target="_blank" href="http://ln-n-tax.gov.cn/">辽宁国税</a></li>
                <li><a target="_blank" href="http://www.jl-n-tax.gov.cn/">吉林国税</a></li>
                <li><a target="_blank" href="http://www.hl-n-tax.gov.cn/">黑龙江国税</a></li>
                <li><a target="_blank" href="http://www.tax.sh.gov.cn/pub/">上海国税</a></li>
                <li><a target="_blank" href="http://www.jsgs.gov.cn/">江苏国税</a></li>
            </ul>
            <ul>
                <li><a target="_blank" href="http://www.zjtax.gov.cn/">浙江国税</a></li>
                <li><a target="_blank" href="http://www.ah-n-tax.gov.cn/">安徽国税</a></li>
                <li><a target="_blank" href="http://www.fj-n-tax.gov.cn/">福建国税</a></li>
                <li><a target="_blank" href="http://www.jx-n-tax.gov.cn/">江西国税</a></li>
                <li><a target="_blank" href="http://www.sd-n-tax.gov.cn/">山东国税</a></li>
                <li><a target="_blank" href="http://www.12366.ha.cn/003/index.html?NVG=0">河南国税</a></li>
                <li><a target="_blank" href="http://www.hb-n-tax.gov.cn/">湖北国税</a></li>
                <li><a target="_blank" href="http://www.hntax.gov.cn/">湖南国税</a></li>
                <li><a target="_blank" href="http://www.gd-n-tax.gov.cn/">广东国税</a></li>
                <li><a target="_blank" href="http://www.gxgs.gov.cn/">广西国税</a></li>
            </ul>
            <ul>
                <li><a target="_blank" href="http://www.hitax.gov.cn/">海南国税</a></li>
                <li><a target="_blank" href="http://www.cqsw.gov.cn/">重庆国税</a></li>
                <li><a target="_blank" href="http://www.sc-n-tax.gov.cn/TaxWeb/template.go?_template=714">四川国税</a></li>
                <li><a target="_blank" href="http://www.gz-n-tax.gov.cn/">贵州国税</a></li>
                <li><a target="_blank" href="http://www.yngs.gov.cn/">云南国税</a></li>
                <li><a target="_blank" href="http://www.xztax.gov.cn/">西藏国税</a></li>
                <li><a target="_blank" href="http://www.sn-n-tax.gov.cn/">陕西国税</a></li>
                <li><a target="_blank" href="http://www.gs-n-tax.gov.cn/">甘肃国税</a></li>
                <li><a target="_blank" href="http://www.qh-n-tax.gov.cn/">青海国税</a></li>
                <li><a target="_blank" href="http://www.nxgs.gov.cn/">宁夏国税</a></li>
            </ul>
            <ul>
                <li><a target="_blank" href="http://www.xj-n-tax.gov.cn/">新疆国税</a></li>
                <li><a target="_blank" href="http://www.dl-n-tax.gov.cn/">大连国税</a></li>
                <li><a target="_blank" href="http://www.nb-n-tax.gov.cn/">宁波国税</a></li>
                <li><a target="_blank" href="http://www.xm-n-tax.gov.cn/">厦门国税</a></li>
                <li><a target="_blank" href="http://www.qd-n-tax.gov.cn/">青岛国税</a></li>
                <li><a target="_blank" href="http://www.szgs.gov.cn/">深圳国税</a></li>
            </ul>
        </div>
        <div class="clear"></div>
        <div class="addedCenter">
            <p>纳税证明截取流程</p>
            <ul>
                <li>登录国税局网站</li>
                <span><img src="../img/added_img-arrow@2x.png"/></span>
                <li>选择办税服务</li>
                <span><img src="../img/added_img-arrow@2x.png"/></span>
                <li>选择涉税查询</li>
                <span><img src="../img/added_img-arrow@2x.png"/></span>
                <li>选择查询方式</li>
                <span><img src="../img/added_img-arrow@2x.png"/></span>
                <li>点击查看纳税证明</li>
            </ul>
            <div class="clear"></div>
            <div class="addedImg"><img src="../img/img-screenshot-2@2x.png"></div>
            <p>纳税证明截取示意</p>
            <div class="addedPic"><img src="../img/added_img-screenshot@2x.png"></div>
        </div>
    </div>
</div>