<link rel="stylesheet" href="/css/aboutZhiguoJoinUs.css"/>
<div class="about-join">
    <div class="about-img"></div>
    <!--内容-->
    <div class="about-content">
        <div class="about-contentInfo">
            <h3>计划概述</h3>
            <p>一枝独秀 不是本意</p>
            <p>百花齐放 才是真心</p>
            <p>即日起，知果果公开招募从事知识产权上下游业务的专家和精英机构，精选100家。</p>
            <p>知果果首批合作伙伴，如果您在某一专业领域足够自信，欢迎加入我们。</p>
            <p>共建知识产权服务生态，共享智慧创新成果，谓之百香果计划！！！</p>
        </div>
        <div class="about-contentInfo">
            <h3>合作对象</h3>
            <p>IP维权律师、IP项目申报、代理人、公司注册、LOGO设计、IP众筹、新产品研发咨询……一切从事知识产权上下游业务的专家和机构</p>
            <p>招募名额：100家（个人/机构），名额有限，招满为止</p>
        </div>
        <div class="about-contentInfo">
            <h3>首批合作伙伴可以享受</h3>
            <div>
                <p>机构：</p>
                <p>①让我们海量用户认识你的服务产品</p>
                <p>②通过公开课等互联网方式推广你的品牌</p>
                <p>③案源分享，我们帮你做市场</p>
                <p>④共建IP互联网生态圈，搭上互联网+知识产权大潮的顺风车</p>
            </div>
            <div class="about-personal">
                <p>个人：</p>
                <p>①案源不再愁，专业的人不该分心做市场，专注专业才能成就卓越</p>
                <p>②个人品牌塑造，打造形象</p>
                <p>③享受专业培训及IP创业扶持</p>
                <p>④边工作，边旅行，吹着海风办着工，提前享受自由人生</p>
            </div>
        </div>
        <div class="about-contentInfo">
            <h3>申请材料：</h3>
            <p>个人/机构介绍，擅长领域，产品/成功案例文件，发送到指定邮箱。</p>
            <p><a href="###">mingyang.wang@zhiguoguo.com</a></p>
        </div>
        <div class="about-contentInfo">
            <h3>具体活动：</h3>
            <p>①招募完成后，由知果果组织百香果计划落地活动，协助各方建立联系与合作。</p>
            <p>②定期组织公开课等宣传活动，通过微博、微信、互联网等媒体立体推广</p>
            <p>③日常案件合作。</p>
            <p>④建立内部沟通机制，定期组织行业研究会议，探讨行业问题。</p>
        </div>
        <div class="about-contentInfo">
            <h3>申请流程：</h3>
            <p>申请，材料审核，确定意向，深入沟通，签署合作协议，发布仪式，日常合作</p>
        </div>
    </div>
</div>