<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>知果果成都开业活动</title>
    <link rel="stylesheet" href="/css/reset.css"/>
    <link rel="stylesheet" href="/css/openActivity.css"/>
    <script type="text/javascript" src="/js/tingyun-rum.js"></script>
</head>
<body>
    <div class="openCont">
        <div class="openTop">
            <div class="openBox">
                <div class="openImg"><img src="/img/open_slong.png"></div>
                <div class="openTitle"><img src="/img/open_info.png"></div>
                <div class="openPic"><img src="/img/open_lh.png"><p>活动时间：2017年6月8日-2017年6月30日</p></div>
            </div>
        </div>
        <div class="openCenter">
            <div class="openContent">
                <div class="openBg">
                    <div class="openH2">能量礼包</div>
                    <div class="openNl">
                        <div class="openLeft"><img src="/img/open_lx.png"></div>
                        <div class="openRight">
                            <p>零食大礼包，  </p>
                            <p>让你活力满满，</p>
                            <p>能量无限！</p>
                            <span>限成都地区新客户，</span>
                            <span>活动期间购买知果果服务，</span>
                            <span>单笔消费满1000元即可获得能量大礼包一份，</span>
                            <span>每位用户限领一份。 </span>
                            <div class="openLine"><img src="/img/open_line.png"></div>
                        </div>
                    </div>
                </div>
                <div class="openBg">
                    <!--<div class="openH2 openLb">分享礼包</div>-->
                    <div class="openNl openFx">
                        <h3>分享礼包</h3>
                        <div class="openLb_img"><img src="/img/openPic_03.png"></div>
                        <div class="openLb_gz">
                            <dl>
                                <dd>
                                    <p>老用户关注知果果公众号，</p>
                                    <p>朋友圈分享此活动，</p>
                                    <p>并将截图发送至公众号，即可获得!</p>
                                </dd>
                                <dt><img src="/img/open_erweima.png"></dt>
                            </dl>
                        </div>
                        <div class="clear"></div>
                        <div class="openLb_yellow">
                            <p style="margin-top:30px;">活动期间新注册用户，  </p>
                            <p>注册成功即可获得</p>
                            <button><a href="/user/register">立即注册</a></button>
                        </div>
                        <div class="openLb_coupon"></div>
                        <div class="clear"></div>
                        <div class="openLb_img2"><img src="/img/open_zt.png"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>