<link rel="stylesheet" href="/css/about_us.css" >
<link rel="stylesheet" href="/css/personal_center.css" >
<link rel="stylesheet" type="text/css" href="/css/history.css">
<div class="personCenter_wrapp">
    <div class="personCenter_tab">
        <ul>
            <li>关于知果果</li>
            <!--<li>关于知果果<span>></span></li>
            <li>关于我们<span>></span></li>
            <li class="currentText"></li>-->
        </ul>
    </div>
    <div class="c_b"></div>

    <div class="personCenter_content">
        <div class="personCenter_aside">
            <h2>目录</h2>
            <ul class="about_tab">
                <li id="news">关于我们</li>
                <li id="mission">服务优势</li>
                <li id="tream">新闻报道</li>
                <li id="course">知果历程</li>
                <li id="glory">知果荣誉</li>
                <li id="link">合作联系</li>
                <li id="join">加入我们</li>
                <li id="qualifications">知果资质</li>
            </ul>
        </div>
