{{> aboutNav}}
<div class="personCenter_all">
    <!--关于我们-->
    <div class="about_course">
        <div class="information_con">
            <h2>关于我们</h2>
            <div class="us_img"><img src="../img/icon-zhaopianone@2x.png"></div>
            <div class="us_left">
                <h3><img src="../img/icon-shu@2x.png">关于我们</h3>
                <p>北京知果科技有限公司（下称知果科技）创立于2014年3月，总部位于北京，作为一家国家高新认定企业，曾获得联想之星、经纬投资数百万美元的融资，致力于打造知识产权综合服务平台。知果科技专注于知识产权垂直领域深耕细作：知识产权代理服务、知识产权运用与转化、知识产权大数据分析，致力于为企业用户提供专业高效的知识产权服务。目前，公司拥有知果果、知蓓蓓、知眼等三大重点项目，百余人的专业服务团队，由资深知识产权律师、国际代理人、资深咨询师、资深分析师、及各学科专业技术人才组成。
                    自知果科技成立以来，响应国家知识产权战略，构建知识产权“大保护”格局支撑创新驱动发展要求，秉承“用智慧定义未来”的企业使命，力图让知识产权这一生产要素在社会经济中发挥最大价值。2014年推出知果果网，结合互联网技术探索创新知识产权服务商业模式，之后与中国平安达成战略合作伙伴关系，知蓓蓓上线开辟知识产权+保险新业态。引导和推动了知识产权行业健康、持续、快速发展！
                    <br/>未来，知果科技将打造一个集大数据、人工智能、知识产权基础代理、咨询服务、金融交易等为一体的产业生态链，整合优质企业服务商引进知果科技平台，促进企业服务市场商业化运作，联合构建开放式的企业服务商业生态圈，实现品牌以及产业链上下游的协同发展。</p>

                <h3 style="margin-top:50px;"><img src="../img/icon-gangbi@2x.png">公司使命：用智慧定义未来</h3>
                <p>用我们的智慧帮助客户提升企业的核心竞争力，与企业一同走向未来。<br/>
                    不同的品牌，传承着同一个理想与信念，知果科技正在打造一个完整的互联网知识、法律服务闭环，释放智慧价值，助力企业创新和社会发展，用智慧定义未来！作为一家为企业用户提供知识产权服务的企业，我们带着梦想先一步出发。以时间为丈量的尺度，我们用智慧定义企业的未来、中国经济发展的未来、社会公民生活的未来。
                    <br/>站在未来的高位，我们可以清晰地看见知识产权可期的价值。我们满怀憧憬，期望知识产权成为中国企业创新发展的源动力，同时助力“中国质造”转型发展，让社会公民能够使用或体验到优质的产品和服务。</p>

                <h3 style="margin-top:50px;"><img src="../img/icon-dizhi@2x.png">公司地址</h3>
                <p>北京总部<br/>
                    北京市海淀区中关村环保科技园紫雀路33号院联动天翼大楼3号楼4层
                </p>
                <p>南京办公室<br/>
                    江苏省南京市雨花台区安德门大街57号楚翘城2号楼10层1006/1007
                </p>
                <p>深圳办公室<br/>
                    广东省深圳市罗湖区书城路都市名园A座5层508室
                </p>
                <p>成都办公室<br/>
                    四川省成都市高新区交子大道88号中航国际广场A座501号
                </p>
                <!--<p>北京总部<br/>-->
                    <!--北京市海淀区中关村环保科技园紫雀路33号院联动天翼大楼3号楼4层; 邮编100085-->
                <!--</p>-->
                <!--<p>南京办公室<br/>-->
                    <!--江苏省南京市雨花台区安德门大街57号楚翘城2号楼10层1006/1007; 邮编210012-->
                <!--</p>-->
                <!--<p>深圳办公室<br/>-->
                    <!--广东省深圳市罗湖区书城路都市名园A座5层508室; 邮编518010-->
                <!--</p>-->
                <!--<p>成都办公室<br/>-->
                    <!--四川省成都市高新区交子大道88号中航国际广场A座501号; 邮编610000-->
                <!--</p>-->
            </div>
            <div class="us_right">
                <h3><img src="../img/icon-dalou@2x.png">公司愿景：成为备受用户信赖的企业</h3>
                <p>以能够提供优质产品、持续保持高标准的客户满意度和专业精神，成为备受用户信赖的优秀企业。<br/>
                    自带真诚服务基因是知果科技自创立那一天便牢记于心的。知果科技创始人兼CEO刘思思说“为用户创造价值”，而这也是知果科技创业成功和能够发展到今天的立足点。对内知果科技员工统一认知合力前行，对外则为用户提供卓越品质的产品与服务。作为一家备受用户信赖的企业，知果科技正与合作伙伴建立共同繁荣的稳定体系，敬业守法，自强自立。</p>

                <h3 style="margin-top:50px;"><img src="../img/icon-qian@2x.png">公司价值观：客户为先，诚信，奋斗，团队，创新</h3>
                <p>客户为先：时刻心系客户，以客户利益为先，为客户做好服务</p>
                <p>诚信：诚实守信，言行坦荡一致</p>
                <p>客户为先：时刻心系客户，以客户利益为先，为客户做好服务</p>
                <p>奋斗：持续不断的热情和正能量，为达成目标付出努力不畏艰辛</p>
                <p>团队：乐于分享，注重合作，责任共担，沟通协作</p>
                <p>创新：正道而行，突破思维，出奇制胜</p>
                <h3 style="margin-top:50px;"><img src="../img/icon-baobiao@2x.png">企业公民社会责任理念</h3>
                <p>知识产权作为重要的生产要素和财富资源，已经成为企业核心竞争力乃至国家竞争力的重要体现。我们不能满足于只为客户提供优质的产品与服务，而放松对社会价值的追求。应该承担起一个企业对社会应尽的责任！我们诞生于这个时代，应当承担起一个企业公民推动知识产权健康快速发展的社会责任。我们可以从微小的事情开始做起，对我们的社会带来积极的影响。
                    <br/>公益支持服务
                    <br/>推出商标注册绿色服务通道，开启商标注册0服务费时代。
                    从2014年到现在，我们为20万+企业提供了产权服务，在知识产权保护和无形资产管理方面给予专业意见。</p>
            </div>
        </div>


    </div>
    <!--服务优势-->
    <div class="about_course">
        <div class="information_con">
            <h2>服务优势</h2>
            <div class="us_img" style="height: 312px;"><img src="../img/icon-zhaopiantwo.png" style="height: 312px;"></div>
            <div class="us_left">
                <h3><img src="../img/icon-zhuanjia@2x.png">专家团队</h3>
                <p>汇聚国际知识产权专家、各高院知识产权专家、全球500强企业指定专利代理人，来自中国平安集团的保险产品专家、保险精算师、风控管理师，以及来自知名互联网公司的高级技术人才。</p>
                <h3 style="margin-top:50px;"><img src="../img/icon-fangkuai@2x.png">服务标准</h3>
                <p>
                    知果科技以“为用户创造价值”引领服务升级，重点开展升级自营服务平台、全媒体服务平台、风险管理与理赔服务、产品价格体系与标准化流程制度。<br/>
                    全面升级自营服务平台<br/>
                    将全面实现在线下单、顾问回访、智能检索、代理人申报、以及案件全过程进度管理与跟踪报告。做到了最快60分钟提交注册的效率，服务过20万+企业用户。
                </p>
                <h3 style="margin-top:50px;"><img src="../img/icon-qianqian@2x.png">建设风险管理与理赔服务</h3>
                <p>
                    通过数据分析、风险评估、金融管理等专业技术流程，与指标数据进行对比、监测、分析异常情况，规避系统性风险，降低企业知识产权管理风险。
                </p>
            </div>
            <div class="us_right">
                <h3><img src="../img/icon-diannao@2x.png">信息技术</h3>
                <p>
                    知果科技是一家以技术为成长驱动的公司，从成立伊始就投入大量资源开发以应用服务为核心的自有技术平台，现在知果科技已自主建设由全球范围内知识产权、企业数据、知识产权权益人等范围数据组成的大数据中心，同时开发了涵盖国内外各领域的5000万条以上的知识产权专业知识及服务流程智库。
                </p>
                <h3 style="margin-top:50px;"><img src="../img/icon-xiangji@2x.png">升级全媒体服务平台</h3>
                <p>
                    依托自媒体和智能客服，将语音、视频、语音分析、在线客服及服务监控、服务调度、服务整合统一纳入全媒体服务平台，提升服务效率。
                </p>
                <h3 style="margin-top:50px;"><img src="../img/icon-zhishu@2x.png">产品服务体系与标准流程</h3>
                <p>
                    形成了完善的产品与价格服务体系，始终坚持价格透明原则，并且建立计划管理、信息管理、项目管理等标准化流程制度，为用户提供高价值回报。
                </p>
            </div>
        </div>
    </div>

    <!--新闻报道-->
    <div class="about_course" style="background: #fff">
        <div class="information_con" style="width:965px;">
            <h2>新闻报道</h2>
            <dl>
                <dt><img src="../img/icon-tupian@2x.png"></dt>
                <dd>
                    <p>知果果荣获2015中国互联网大会“最具商业价值”奖——凤凰新闻</p>
                    <p>知果果创新构建知识产权服务新模式——凤凰网、DoNews</p>
                    <p>知果果让商标注册像网购一样方便——网易财经、搜狐、驱动中国</p>
                    <p>商标代理行业“破局者”——知果果的创业经——网易新闻</p>
                    <p>一个80后的“非典型”创业故事——中国知识产权报</p>
                    <p>国内领先知识产权电商平台知果果获国家高新企业认定——网易新闻、云财经</p>
                </dd>
            </dl>
            <div style="clear: both"></div>
            <p class="news_info">知果果获370万美元A轮融资，经纬领投，联想之星跟投——搜狐、新浪、网易、腾讯、凤凰网等</p>
            <p class="news_info">从标品到非标的革命：知识产权法律服务电商“知果果”获联想之星百万美元投资——网易科技</p>
            <p class="news_info">北京知果科技有限公司创始人兼CEO刘思思受邀参加央视CCTV《对话》栏目——CCTV</p>
            <p class="news_info">BTV北京电视台专访北京知果科技有限公司创始人兼CEO刘思思——BTV《直播北京》栏目</p>
        </div>
    </div>

    <!--知果果历程-->
    <div class="about_course">
        <div class="course_top"><img src="/img/icon_roadmap.png"/>知果果历程</div>
        <div class="course_time">
            <div id="arrow" style="display: none">
                <ul>
                    <li class="arrowup"></li>
                    <li class="arrowdown"></li>
                </ul>
            </div>
            <div id="history">
                <div class="content">
                    <ul class="list">
                        <li style="margin-top:-110px;">
                            <div class="liwrap">
                                <div class="lileft">
                                    <div class="date">
                                        <span class="year">2014</span>
                                        <span class="md">03</span>
                                    </div>
                                </div>

                                <div class="point"><b></b></div>

                                <div class="liright">
                                    <div class="histt"><a href="#"></a></div>
                                    <div class="hisct">北京知果科技有限公司在北京成立</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="liwrap">
                                <div class="lileft">
                                    <div class="date">
                                        <span class="year">2014</span>
                                        <span class="md">05</span>
                                    </div>
                                </div>

                                <div class="point"><b></b></div>

                                <div class="liright">
                                    <div class="histt"><a href="#"></a></div>
                                    <div class="hisct">开辟互联网知识产权自营服务平台——知果果网</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="liwrap">

                                <div class="lileft">
                                    <div class="date">
                                        <span class="year">2014</span>
                                        <span class="md">06</span>
                                    </div>
                                </div>

                                <div class="point"><b></b></div>

                                <div class="liright">
                                    <div class="histt"><a href="#"></a></div>
                                    <div class="hisct">获得联想之星百万美元天使轮投资</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="liwrap">

                                <div class="lileft">
                                    <div class="date">
                                        <span class="year">2015</span>
                                        <span class="md">04</span>
                                    </div>
                                </div>

                                <div class="point"><b></b></div>

                                <div class="liright">
                                    <div class="histt"><a href="#"></a></div>
                                    <div class="hisct"><p>-联想之星&经纬中国数百万美元A轮投资</p>
                                        <!--<p>-单月商标注册量突破3000件</p></div>-->
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="liwrap">
                                <div class="lileft">
                                    <div class="date">
                                        <span class="year">2015</span>
                                        <span class="md">05</span>
                                    </div>
                                </div>

                                <div class="point"><b></b></div>

                                <div class="liright">
                                    <div class="histt"><a href="#"></a></div>
                                    <div class="hisct">
                                        <p>李克强总理与北京知果科技有限公司CEO刘思思亲切交谈，并对北京知果科技有限公司提出殷切期望
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="liwrap">
                                <div class="lileft">
                                    <div class="date">
                                        <span class="year">2016</span>
                                        <span class="md">02</span>
                                    </div>
                                </div>

                                <div class="point"><b></b></div>

                                <div class="liright">
                                    <div class="histt"><a href="#"></a></div>
                                    <div class="hisct">
                                        <p>开辟知识产权大数据业态——知眼

                                        </p>

                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="liwrap">
                                <div class="lileft">
                                    <div class="date">
                                        <span class="year">2016</span>
                                        <span class="md">12</span>
                                    </div>
                                </div>

                                <div class="point"><b></b></div>

                                <div class="liright">
                                    <div class="histt"><a href="#"></a></div>
                                    <div class="hisct">
                                        <p>与中国平安达成战略合作伙伴关系，开辟知识产权+保险新业态——知蓓蓓，果保系列产品风险担保赔付
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="liwrap">
                                <div class="lileft">
                                    <div class="date">
                                        <span class="year">2017</span>
                                        <span class="md">03</span>
                                    </div>
                                </div>

                                <div class="point"><b></b></div>

                                <div class="liright">
                                    <div class="histt"><a href="#"></a></div>
                                    <div class="hisct">
                                        北京知果科技有限公司成为国家高新企业
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--知果果荣耀-->
    <div class="about_course">
        <div class="course_top"><img src="/img/icon_glory.png"/>知果果荣耀</div>
        <div class="about_glory">获得奖项</div>
        <div class="course_time">
            <!--<div id="arrow">
                <ul>
                    <li class="arrowup"></li>
                    <li class="arrowdown"></li>
                </ul>
            </div>-->
            <div id="history">
                <div  class="content1" style="position: relative;height: 1150px;">
                    <div class="line_content"></div>
                    <ul class="list1" style="height:1150px;overflow: inherit">
                        <li style="margin-top:-110px;">
                            <div class="liwrap1">
                                <div class="lileft" style="left: 0;">
                                    <div class="date">
                                        <span class="year">2014</span>
                                        <span class="md">09</span>
                                    </div>
                                </div>

                                <div class="point"><b></b></div>

                                <div class="liright" style="right: 0;">
                                    <div class="histt"><a href="#"></a></div>
                                    <div class="hisct">知创新中国总决赛“优秀企业'奖” 。</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="liwrap1">
                                <div class="lileft">
                                    <div class="date">
                                        <span class="year">2015</span>
                                        <span class="md">03</span>
                                    </div>
                                </div>

                                <div class="point"><b></b></div>

                                <div class="liright">
                                    <div class="histt"><a href="#"></a></div>
                                    <div class="hisct">成为中华商标协会会员单位；</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="liwrap1">
                                <div class="lileft">
                                    <div class="date">
                                        <span class="year">2015</span>
                                        <span class="md">03</span>
                                    </div>
                                </div>

                                <div class="point"><b></b></div>

                                <div class="liright">
                                    <div class="histt"><a href="#"></a></div>
                                    <div class="hisct">知果果项目获得南京市政府100万资助</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="liwrap1">

                                <div class="lileft">
                                    <div class="date">
                                        <span class="year">2016</span>
                                        <span class="md">03</span>
                                    </div>
                                </div>

                                <div class="point"><b></b></div>

                                <div class="liright">
                                    <div class="histt"><a href="#"></a></div>
                                    <div class="hisct">成为中小企业会员单位；</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="liwrap1">
                                <div class="lileft">
                                    <div class="date">
                                        <span class="year">2016</span>
                                        <span class="md">04</span>
                                    </div>
                                </div>

                                <div class="point"><b></b></div>

                                <div class="liright">
                                    <div class="histt"><a href="#"></a></div>
                                    <div class="hisct">CEO刘思思荣获全国中小商业企业五四青年创业标兵；</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="liwrap1">

                                <div class="lileft">
                                    <div class="date">
                                        <span class="year">2016</span>
                                        <span class="md">04</span>
                                    </div>
                                </div>

                                <div class="point"><b></b></div>

                                <div class="liright">
                                    <div class="histt"><a href="#"></a></div>
                                    <div class="hisct">CEO刘思思荣获2016全球最具投资价值女性创
                                        新产品TOP10；</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="liwrap1">
                                <div class="lileft">
                                    <div class="date">
                                        <span class="year">2016</span>
                                        <span class="md">05</span>
                                    </div>
                                </div>

                                <div class="point"><b></b></div>

                                <div class="liright">
                                    <div class="histt"><a href="#"></a></div>
                                    <div class="hisct">
                                        CEO刘思思被认定为2015年“海英人才”；
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="liwrap1">
                                <div class="lileft">
                                    <div class="date">
                                        <span class="year">2016</span>
                                        <span class="md">06</span>
                                    </div>
                                </div>

                                <div class="point"><b></b></div>

                                <div class="liright">
                                    <div class="histt"><a href="#"></a></div>
                                    <div class="hisct">
                                        知果果荣获2016 InnoStar中国最佳服务商；
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="liwrap1">
                                <div class="lileft">
                                    <div class="date">
                                        <span class="year">2016</span>
                                        <span class="md">09</span>
                                    </div>
                                </div>

                                <div class="point"><b></b></div>

                                <div class="liright">
                                    <div class="histt"><a href="#"></a></div>
                                    <div class="hisct">
                                        知果果荣获腾讯创业节优秀服务商；
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <!--联系知果果-->
    <div class="about_contact" style="background: #f0f1f1">
        <div><img src="../img/b-g.png"/></div>
        <div class="contact_div" style="min-height: 177px;">
            <h3>业务咨询</h3>
            <p>客服电话：400-888-1426</p>
            <p>Email：consultant@zhiguoguo.com</p>
        </div>
        <div class="contact_div">
            <h3 style="background:#f5c05f;">商务合作</h3>
            <p>电话：18513626114</p>
            <p>Email：hi@zhiguoguo.com</p>
            <p>联系人：西檬</p>
        </div>
        <div class="contact_div" style="margin-right:0;">
            <h3 style="background:#f18282;">招贤纳士</h3>
            <p>电话：010-59864681</p>
            <p>Email：hr@zhiguoguo.com</p>
            <p>联系人：HR</p>
        </div>
        <div class="contact_div">
            <h3 style="background:#73beea;">媒体联络</h3>
            <p>电话：18513626114</p>
            <p>Email：hi@zhiguoguo.com</p>
            <p>联系人：西檬</p>
        </div>
    </div>

    <!--加入知果果-->
    <div class="about_course" style="background: #fff">
        <div class="information_con" style="width:965px;">
            <h2>加入我们</h2>
            <div class="us_img"><img src="../img/icon-zhaopianthree@2x.png" height="402px;"></div>
            <h4>专家团队</h4>
            <div class="join_info">
                <span>1、为客户提供企业所需的知识产权规划建议（含商标、专利、版权）；</span>
                <span>2、合理利用公司提供的平台和资源与客户建立联系，明确客户需求，解答疑问；</span>
                <span>3、全程跟进、了解客户委托我司业务的进度，及时反馈给客户；</span>
                <span>4、定期跟踪、回访企业在发展过程中对知识产权的需求，提供进一步的专业意见；</span>
                <span>5、根据部门要求达成工作任务与目标。</span>
            </div>
            <h4>职位要求</h4>
            <div class="join_info">
                <span>1、正规院校专科及以上学历，法学专业者优先，有志于在知识产权领域发展；</span>
                <span>2、具有良好的沟通协调能力，有较强的服务意识；</span>
                <span>3、为人正直诚信，做事踏实、稳重，具有良好的团队合作精神；</span>
                <span>4、熟练使用日常办公软件；</span>
                <span>5、欢迎应届生毕业生投递。</span>
            </div>
            <h4>办公地点</h4>
            <div class="join_info">
                <span>北京、南京、深圳、成都</span>
            </div>
            <h4 style="width: 275px;">商标代理人(职位描述)</h4>
            <div class="join_info">
                <span>1、商标驳回复审、异议、无效、撤销等撰写；</span>
                <span>2、协助开发商标工具类查询软件各类商标业务申报及各类业务补正。</span>
            </div>
            <h4 style="width: 275px;">商标代理人(职位要求)</h4>
            <div class="join_info">
                <span>1、2年及以上相关工作经验；</span>
                <span>2、细心，有高度责任心；</span>
                <span>3、熟悉各项商标业务，擅长驳回复审，且有较多成功案例；</span>
                <span>4、擅长商标近似分析判断。</span>
            </div>
            <h4 style="width: 275px;">商标部经理(岗位职责)</h4>
            <div class="join_info">
                <span>1、结合业内最新资讯、动向以及公司发展进度，制定商标部阶段性发展规划；</span>
                <span>2、对商标流程主管、商标代理人主管汇报的数据进行总结、分析问题并上报；</span>
                <span>3、制定商标培训体系、考核体系及培训计划（本部门及跨部门）；</span>
                <span>4、根据需求，不定期进行内、外部基础代理实务、商标侵权分析等培训；</span>
                <span>5、负责商标部岗位设置和调配、团队建设、绩效考核、员工激励等工作；</span>
                <span>6、对代理人所撰写的案件进行质量监控；</span>
                <span>7、完成上级领导交办的其他临时性工作。</span>
            </div>
            <h4 style="width: 275px;">商标部经理(任职资格)</h4>
            <div class="join_info">
                <span>1、大学本科及以上学历，专业不限，法律专业者优先；</span>
                <span>2、热爱商标撰写工作，有5年以上商标案件撰写经验及3年以上团队管理经验；</span>
                <span>3、具有优秀的大局观，熟知商标行业的发展变化情况；</span>
                <span>4、能够独立或指导团队完成商标疑难案件或商标侵权案件；</span>
                <span>5、良好的职业操守，优秀的沟通、表达及分析与研究能力。</span>
            </div>
            <h4 style="width: 275px;">项目经理(岗位职责)</h4>
            <div class="join_info">
                <span>1.制定竞争对手、行业信息、公司产品信息等市场调研计划，全面展开市场调研工作；</span>
                <span>2.分析总结调研信息，确定调研结果，为公司的总体产品战略制定提供相关依据；</span>
                <span>3.理解产品目标，制定相应的运营政策，完成运营目标；</span>
                <span>4.策划、组织市场活动，安排公司产品宣传，并反馈总结所有信息、收集和应用产品市场信息；</span>
                <span>5.完成产品销售业绩目标，维护供方关系。</span>
            </div>
            <h4 style="width: 275px;">项目经理(职位要求)</h4>
            <div class="join_info">
                <span>1.本科及以上学历，3年以上相关工作经验；</span>
                <span>2.熟悉知识产权行业的产品属性和流程，有操作过驰著名、科技类项目、法务经验的优先；</span>
                <span>3.具备宏观规划能力，优秀的信息分析能力；</span>
                <span>4.具备较强的口头及书面沟通能力和商务洽谈能力；</span>
                <span>5.积极主动、灵活应变、认真负责；</span>
                <span>6.组织协调管理能力强；</span>
                <span>7.工作态度认真，能在较大的压力下保持良好工作状态，作风踏实严谨。</span>
            </div>
            <h4 style="width: 275px;">销售经理(岗位职责)</h4>
            <div class="join_info">
                <span>1.执行销售任务，开发全国范围业务代理商，拓展同业合作；</span>
                <span>2.维护客户管理，建立长期业务合作关系；</span>
                <span>3.开发渠道资源，确认目标客户，建立联系，进行业务洽谈。</span>
                <span>任职要求:</span>
                <span>1.大专及以上学历，2年销售业务拓展经验，具有知识产权代理机构经验者优先；</span>
                <span>2.语言表现能力强、思维逻辑活跃；</span>
                <span>3.有较强的学习能务，善于思考，有一定的业务组织开发能力；</span>
                <span>4.熟悉商务拓展流程，擅于抓住客户需求，有较强的公关、谈判能力。</span>
            </div>
            <h4 style="width: 318px;">前端开发工程师(岗位职责)</h4>
            <div class="join_info">
                <span>1、各产品线Web端功能设计、开发和实现；</span>
                <span>2、各产品线易用性改进和Web界面技术优化；</span>
                <span>3、手机APP和网页HTML5页面互动开发、优化；</span>
                <span>4、前端框架设计及组件库开发；</span>
                <span>5、Web前沿技术研究和新技术调研。</span>
            </div>
            <h4 style="width: 318px;">前端开发工程师(职位要求)</h4>
            <div class="join_info">
                <span>1、本科以上学历，2年以上相关工作经验，有大型门户网站、商城、论坛、社区制作经验者优先；</span>
                <span>2、掌握良好的前端技能，包括XHTML/XML/CSS/JavaScript，熟悉W3C网页标准、了解WEB标准化、性能优化方法，了解可用性、可访问性和安全性。精通 HTML、CSS、JavaScript、Ajax等页面技术，能够手工编写和修改JavaScript脚本代码；</span>
                <span>3、熟悉掌握一种常见JS框架，如Jquery，AngularJS等，并有一定的前端框架设计能力，善于用JS写动画;</span>
                <span>4、熟练使用html5、css3，熟悉canvas、smarty3；</span>
                <span>5、了解前端前沿技术( 如 less、Node.js 等 )，对前端性能优化有一定了解；</span>
                <span>6、有Web后端脚本的语言（如Java/NodeJS/PHP）开发经验者优先。</span>
            </div>
            <h4 style="width: 318px;">高级产品经理(职位描述)</h4>
            <div class="join_info">
                <span>1、负责移动端、PC上的客户端产品的用户需求分析及新功能提炼；</span>
                <span>2、设计产品的交互界面及流程原型；</span>
                <span>3、撰写产品需求文档；</span>
                <span>4、推进产品开发项目，协调工程师、UED、运营等资源，保证产品按计划开发及发布；</span>
                <span>5、设计产品的运营、推广策略，增加产品的用户量和品牌渗透率；</span>
                <span>6、跟踪产品的运营数据，并根据数据改进产品。</span>
            </div>
            <h4 style="width: 318px;">高级产品经理(职位要求)</h4>
            <div class="join_info">
                <span>1、本科及以上学历；</span>
                <span>2、有4年产品设计经验，独立负责过产品或功能的全生命周期管理（含界面设计、项目推进、后期运营等）；</span>
                <span>3、对交互设计、用户体验有浓厚的兴趣，有过交互设计的经验优先；</span>
                <span>4、对新事物、新产品有敏感，喜欢琢磨、钻研新的软件、产品及服务；</span>
                <span>5、有较强的书面文字表达能力，熟练使用Word、Visio等办公软件；</span>
                <span>6、富有团队合作精神，善于与人沟通，能及时响应和处理产品或用户反馈的问题；</span>
                <span>7、上进心强，有较强的自我学习能力。</span>
            </div>

        </div>

    </div>


    <!--知果果资质-->
    <div class="about_course" style="background: #eff0f4">
        <div class="zz_img"><img src="../img/zgg_zz.png"/></div>
    </div>
</div>
</div>
</div>
<script type="text/javascript" src="/js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="/js/jquery.easing.js"></script>
<script type="text/javascript" src="/js/history.js"></script>
<script>
    $(".about_tab li").click(function(){
        $(this).addClass("about_click").siblings().removeClass("about_click");
        var index=$('.about_tab li').index($(this));
        $('.personCenter_all>div').hide();
        $('.personCenter_all>div').eq(index).show();
        $(".currentText").html($('.about_tab li').eq(index).text());
    })
    $(document).ready(function(){
        var index=0;
        $('.personCenter_all>div').hide();
        $('.personCenter_all>div').eq(index).show();
        $('.about_tab li').eq(index).addClass("about_click");
        $(".currentText").html($('.about_tab li').eq(index).text());
    });
//    var pageName = "{{ pageName }}";
//    console.log(pageName);
//    $(".currentText").html($("#"+pageName).text());
//    $("#"+pageName).click();

</script>
